// Specific CSS for your home-page
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  }

  .main {
    flex-grow: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(93, 84, 67, 1) 53%, rgba(53, 18, 10, 1) 100%);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
