<div class="footer">

<%# <div class="logo">
  <img src="logo.png">
</div> %>

  <div class="footer-copyright">
    Find your paradise.
  </div>

  <div class="footer-links">
    <a class="btn btn-ghost" href="#">Find a Van</a>
    <a class="btn btn-ghost" href="#">Rent your Van</a>
    <a class="btn btn-ghost" href="#">Home</a>

  </div>
</div>
