<div class="footer">

<%# <div class="logo">
  <img src="https://campmyvan1208.herokuapp.com/assets/logo-9b89bac54a06efe180236f5b008954e3be0a12d7e5de3b5cea36be5e0d2a51e4.png">
</div> %>

  <div class="footer-copyright">
    Find your paradise.
  </div>

  <div class="footer-links">
    <a class="btn btn-ghost" href="#">Home</a>
    <a class="btn btn-ghost" href='<%= vans_path %>' >Find a Van</a>
    <a class="btn btn-ghost" href='<%= new_van_path %>'>Add a Listing</a>

  </div>
</div>
