
<div class="container">

<%= image_tag("logo.png")  %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1721&q=80);">
  <div class="container">
    <h1>Roaming made <strong>easy</strong>. Explore the world on wheels with our camper van rental web app.!</h1>
  <p>Hit the road, create memories. Unleash your wanderlust with our convenient camper van rental web app.</p>
  <div class="d-flex justify-content-center">
  <a class="btn btn-warning text-center rounded-4" href="index">Get started</a>
</div>

  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1619677394722-6397960e590b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80);">
  <div class="container">
    <h1>"Explore the Great Outdoors with Our CampMyVan App: Unlock Your Adventurous Spirit!"</h1>
    <p>"Discover the ultimate freedom of the open road with our Camping Van Rental App. Find and book your ideal camping van, equipped with all the essentials, and embark on unforgettable outdoor adventures. Experience hassle-free rentals and create lifelong memories in nature."</p>
  </div>
</div>

</div>
