<h3>List of reservations</h3>

<div class="container py-5">
  <div class="row">
         <p> Reservation dates </p>
    <% @reservations.each do |reservation| %>
      <div class="d-inline">
          <ul>
            <li>
            <%= link_to "#{reservation.start_date} to #{reservation.end_date}", van_reservation_path(van_id: reservation.van_id, id: reservation.id) %>

            </li>
          </ul>
                      <% end %>
      </div>

<%= image_tag("https://dustycars.com/wp-content/uploads/2015/11/001-007-DSC_0295.jpg", height: 300) %>
  </div>
</div>
