<h3>List of reservations</h3>

<div class="container py-5">
  <div class="row">
    <% @reservations.each do |reservation| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to reservation_path(reservation), class:"text-decoration-none" do %>
          <%= " #{@van.brand} #{@van.model} : from #{reservation.start_date} to #{reservation.end_date}" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
