.mapboxgl-ctrl-geocoder--input {
  max-width: none;
  width: 100%;
  border: 1px solid lightgray;
  box-shadow: none;
  background-color: transparent;
}
// .mapboxgl-ctrl-geocoder mapboxgl-ctrl {
.mapboxgl-ctrl-geocoder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  display: none;
}
