.vans-container {
  display: flex;
}

.map-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 600px;
}
.vans-card {
  width:40%;
}

.card-product {
  color: white;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
