.title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-container {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center the text content */
  background-color: #643843;
  padding: 20px;
  border-radius: 5px;
}


.img-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-bottom: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 380px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 20px; /* Add spacing between card-category and card-info */
}

.card-info {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px; /* Add spacing between card-info and buttons */
}

.btn-show {
  margin-top: 20px; /* Add spacing between buttons */
}
